<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../static/leaflet/leaflet.css">
    <script type="text/javascript" src="../static/leaflet/leaflet.js"></script>
    <style>
        .map {
            width: 640px;
            height: 480px;
        }
    </style>
</head>
<body>
<div id="map" class="map"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        console.log('start');
        const baseLatLng = [35.602654, 139.367475];
// -------------------------------------------------------------------------------------------------
        const map = L.map('map');
        map.setView(baseLatLng, 17);
// -------------------------------------------------------------------------------------------------
        const tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
//            attribution: '© <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
            maxZoom: 19
        });
        tileLayer.addTo(map);
// -------------------------------------------------------------------------------------------------
        const grico = L.icon({
            iconUrl: "../static/images/grico.png",
            iconSize: [32, 49]
        });
        const marker = L.marker(baseLatLng, {icon: grico});
        marker.addTo(map);
// -------------------------------------------------------------------------------------------------
// -------------------------------------------------------------------------------------------------
    });
</script>
</body>
</html>