<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../static/leaflet/leaflet.css">
    <script type="text/javascript" src="../static/leaflet/leaflet.js"></script>
    <style>
        .map {
            width: 640px;
            height: 480px;
        }
    </style>
</head>
<body>
<div id="map" class="map"></div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        console.log('start');
    });
</script>
</body>
</html>